/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear-fix {
    clear: both;
}

/* ==========================================================================
   MY CSS
   ========================================================================== */

    .dr-ebook-container {
        width: 1200px;
        margin: 20px auto;
    }

    .dr-ebook-table {
        width: 85%;
        text-align: center;
        margin: 0 auto 20px;
    }

    .ebook-list {
        float: left;
        padding-left: 20px;
        width: 240px;
    }

    .ebook-list:nth-child(1) {
        padding-left: 0;
    }

    .ebook-list img {
        display: block;
        width: 100%;
    }

    .ebook-list .ebook-title {
        line-height: 22px;
        font-size: 17px;
        font-weight: bold;
        margin: 10px;
    }

    .dr-link {
        display: inline-block;
        line-height: 40px;
        padding: 0 30px;
        text-transform: uppercase;
        text-decoration: none;

        border: 2px solid #91ab21;
        color: #91ab21;

        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;

        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }

    .dr-link:hover {
        color: #fff;
        background-color: #91ab21;
    }